<!DOCTYPE html>
<html>
<head>
	<title>Registration Page</title>
</head>
<body>

	<h1>Registration Page</h1>

	<form method="POST" action="/signup">
	<fieldset>
		<label>Username:</label><input type="text" name="username">
	</fieldset>
	<fieldset>
		<label>Password:</label><input type="password" name="password">
	</fieldset>
  <fieldset>
    <label>First Name:</label><input type="text" name="fname">
  </fieldset>
  <fieldset>
    <label>Last Name:</label><input type="password" name="lname">
  </fieldset>
  <fieldset>
    <label>Cell:</label><input type="text" name="cell">
  </fieldset>
  <fieldset>
    <label>Email:</label><input type="password" name="email">
  </fieldset>
	<br>
	<br>
	<button>Submit</button>
	</form>
</body>
</html>
